/* INDEX */
.titrenav{
  color: #ffffff;
  font-family:Arial, cursive;
  font-size:20px;
  text-decoration: none;
}
.titrenav:hover{
  color: #bbbbbb;
  text-decoration: none;
}
.menunav{
  list-style-type: none;
}
.nom{
  color: white;
  font-family:"Arial";
  font-size: 20px;
}
.image{
  width: 70%;
  height: auto;
  border-radius: 70%;
}
.text-index{
  font-size: 20px;
}
.menu{
  list-style-type: upper-roman;
}
.menu-index{
  font-size: 20px;
  color: black;
}
.menu-index:hover{
  color: #888888;
  text-decoration: none;
}
.comp{
  list-style-type:disc;
}
.souscomp{
  list-style-type:circle;
}
.invi{
  list-style-type: none;
}
/* Navbar propriété */
.navbar{
  background-color: black;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: black;
}

/*GENERAL*/
.cadre{
  border: 1px solid black;
  background-color: white;
}
.classique{
  background-color: #e5e5e5;
}
